global:
  hostname: localhost
  dictionaryUrl: https://raw.githubusercontent.com/NIEHS/pcor_gen3_artifacts/develop/custom_configs/schema.json

ambassador:
  resources:
    limits: 
      memory: 200Mi
    requests:
      cpu: 0.5
      memory: 200Mi

arborist:
  resources:
    limits: 
      memory: 200Mi
    requests:
      cpu: 0.5
      memory: 200Mi

audit:
  resources:
      limits: 
        memory: 120Mi
      requests:
        cpu: 0.2
        memory: 120Mi

aws-es-proxy:
  resources:
    # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.1
      # -- (string) The amount of memory requested
      memory: 250Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of memory the container can use
      memory: 1Gi

fence:
  FENCE_CONFIG:
    MOCK_AUTH: true
  # -- (string) USER YAML. Passed in as a multiline string.
  USER_YAML: |
    cloud_providers: {}
    groups: {}
    {{ user_yaml_content | indent(4) }}

portal:
  # -- (map) GitOps configuration for portal
  gitops:
    # -- (string) multiline string - gitops.json
    json: |
      {{ gitops_content | indent(4) }}
    css: |
      {{ css_content | indent(4) }}
      
etl:
  resources:
    tube: 
      # -- (map) The amount of resources that the container requests
      requests:
        # -- (string) The amount of CPU requested
        cpu: 0.3
        # -- (string) The amount of memory requested
        memory: 128Mi
      # -- (map) The maximum amount of resources that the container is allowed to use
      limits:
        # -- (string) The maximum amount of CPU the container can use
        cpu: 1.0
        # -- (string) The maximum amount of memory the container can use
        memory: 2Gi
    spark:
      # -- (map) The amount of resources that the container requests
      requests:
        # -- (string) The amount of CPU requested
        cpu: 0.3
        # -- (string) The amount of memory requested
        memory: 128Mi
      # -- (map) The maximum amount of resources that the container is allowed to use
      limits:
        # -- (string) The maximum amount of CPU the container can use
        cpu: 1.0
        # -- (string) The maximum amount of memory the container can use
        memory: 1Gi
  etlMapping:
    {{ etl_mapping_content | indent(4) }}

guppy:
  resources:
  # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.3
      # -- (string) The amount of memory requested
      memory: 128Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of CPU the container can use
      cpu: 0.5
      # -- (string) The maximum amount of memory the container can use
      memory: 1Gi
  enabled: true
  image:
    tag: "feat_es7"
  esEndpoint: ""
  # -- (list) Elasticsearch index configurations
  indices:
  - index: geospatial_data_resource
    type: geospatial_data_resource
  - index: population_data_resource
    type: population_data_resource
  - index: geospatial_tool_resource
    type: geospatial_tool_resource
  # -- (string) The Elasticsearch configuration index
  configIndex: geospatial_data_resource-array-config

hatchery:
  enabled: false
  resources:
  # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.1
      # -- (string) The amount of memory requested
      memory: 12Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of cpu the container can use
      cpu: 0.5
      # -- (string) The maximum amount of memory the container can use
      memory: 256Mi

indexd:
  resources:
  # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.1
      # -- (string) The amount of memory requested
      memory: 12Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of CPU the container can use
      cpu: 1.0
      # -- (string) The maximum amount of memory the container can use
      memory: 512Mi

manifestservice:
  resources:
  # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.1
      # -- (string) The amount of memory requested
      memory: 12Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of CPU the container can use
      cpu: 0.5
      # -- (string) The maximum amount of memory the container can use
      memory: 256Mi

metadata:
  resources:
  # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.1
      # -- (string) The amount of memory requested
      memory: 12Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of CPU the container can use
      cpu: 0.5
      # -- (string) The maximum amount of memory the container can use
      memory: 256Mi

peregrine:
  resources:
  # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.1
      # -- (string) The amount of memory requested
      memory: 12Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of CPU the container can use
      cpu: 0.5
      # -- (string) The maximum amount of memory the container can use
      memory: 256Mi

pidgin:
  resources:
     limits:
      cpu: 0.5
      memory: 256Mi

requestor:
  resources:
  # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.1
      # -- (string) The amount of memory requested
      memory: 12Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of CPU the container can use
      cpu: 0.5
      # -- (string) The maximum amount of memory the container can use
      memory: 256Mi

revproxy:
  resources:
  # -- (map) The amount of resources that the container requests
  requests:
    # -- (string) The amount of CPU requested
    cpu: 0.1
    # -- (string) The amount of memory requested
    memory: 12Mi
  # -- (map) The maximum amount of resources that the container is allowed to use
  limits:
    # -- (string) The maximum amount of cpu the container can use
    cpu: 1.0
    # -- (string) The maximum amount of memory the container can use
    memory: 512Mi

sheepdog:
  resources:
  # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.3
      # -- (string) The amount of memory requested
      memory: 12Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of CPU the container can use
      cpu: 0.5
      # -- (string) The maximum amount of memory the container can use
      memory: 512Mi

sower:
  resources:
  # -- (map) The amount of resources that the container requests
    requests:
      # -- (string) The amount of CPU requested
      cpu: 0.5
      # -- (string) The amount of memory requested
      memory: 20Mi
    # -- (map) The maximum amount of resources that the container is allowed to use
    limits:
      # -- (string) The maximum amount of memory the container can use
      memory: 400Mi

