{
"resource_contact": "{{ resource.contact }}",
  "resource_type": "{{ resource.resource_type }}",
  "project_id": "{{ resource.project.id }}",
  "type": "resource",
  "keywords":  [
    {% for keyword in resource.keywords %}

        "{{ keyword }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "description": "{{ resource.description }}",
  "update_frequency": "{{ resource.update_frequency }}",
  "name": "{{ resource.name }}",
  "subject": "{{ resource.subject }}",
  "license_type": "{{ resource.license_type }}",
  "submitter_id": "{{ resource.submitter_id }}",
  "verification_datetime": "{{ resource.verification_datetime }}",
  "resource_use_agreement": {{ resource.use_agreement }},
  "license_text": "{{ resource.license_text }}",
  "secondary_name": "{{ resource.secondary_name }}",
  "resource_id": "{{ resource.resource_id }}",
  "projects": {
    "node_id": "{{ resource.project.id }}",
    "code": "{{ resource.project.dbgap_accession_number }}"
  }
}