etl:
{%- if aws_staging %}
  enabled: true
  spark:
    image:
      repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/gen3-spark
      tag: 2024.05
  tube:
    image:
      repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/tube
      #tag: 2024.05
      # patch to flatten nested array
      tag: "1.0.4"
  esEndpoint: elasticsearch
{% endif %}
  etlMapping:
    {{ etl_mapping_content | indent(4) }}