guppy:
  enabled: true
{%- if aws_staging %}
  dbRestore: false
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/guppy
    tag: 2023.12
  esEndpoint: elasticsearch:9200
{% else %}
  image:
    tag: "feat_es7"
  esEndpoint: ""
{% endif %}
  {{ guppy_content | indent(2) }}