global:
{%- if aws_staging %}
  dev: false
  # uncomment once we cutover, so we can use shared ALB
  #environment: "unfunded"
  hostname: "staging.chordshealth.org"
  aws:
    enabled: true
    useLocalSecret:
        enabled: true
        localSecretName: external-secrets-chords-secret
  revproxyArn: arn:aws:acm:us-east-1:048463324059:certificate/b85556ab-b13b-45bf-afd3-1a70b9234b6e
  dictionaryUrl: "https://s3.amazonaws.com/dictionary-artifacts/chords-health-dictionary/1.5.0/schema.json"
  postgres:
    dbCreate: false
    externalSecret: "chords_aurora-master-password"
  externalSecrets:
    # -- (bool) Will use ExternalSecret resources to pull secrets from Secrets Manager instead of creating them locally. Be cautious as this will override secrets you have deployed.
    deploy: true
  pdb: true

arborist:
  enabled: true
  externalSecrets:
    dbcreds: "chords_chords-arborist-db-creds"
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/arborist
    tag: 2024.05

aws-es-proxy:
  esEndpoint: vpc-chords-gen3-metadata-2-lbdmlev6ocn5pneieeympkp6vy.us-east-1.es.amazonaws.com
  externalSecrets:
    awsCreds: "chordstaging-aws-es-proxy-creds"
  enabled: true
  image:
    repository: quay.io/cdis/aws-es-proxy
    tag: v1.3.1

indexd:
  defaultPrefix: "dg.C78ch/"
  externalSecrets:
    dbcreds: "chords_chords-indexd-db-creds"
    serviceCreds: "chordstaging-indexd-service-creds"

  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/indexd
    tag: 2024.05

peregrine:
  externalSecrets:
    dbcreds: "chords_chords-peregrine-db-creds"
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/peregrine
    tag: feat_jq-audience
    pullPolicy: Always

pidgin:
  enabled: false

revproxy:
  enabled: true
  replicaCount: 2
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/nginx
    tag: 2024.05

sheepdog:
  externalSecrets:
    dbcreds: "chords_chords-sheepdog-db-creds"
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/sheepdog
    tag: bug_auth-audience-2

manifestservice:
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/manifestservice
    tag: 2024.05
  externalSecrets:
    manifestserviceG3auto: "chords_chords-manifestservice-g3auto"

ssjdispatcher:
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/ssjdispatcher
    tag: 2024.05

metadata:
  useAggMds: False
  externalSecrets:
    dbcreds: "chords_chords-metadata-db-creds"
    metadataG3auto: "chords_chord-metadata-g3auto"
  enabled: true
  image:
    repository: 707767160287.dkr.ecr.us-east-1.amazonaws.com/gen3/metadata-service
    tag: 2024.05
    esEndpoint: http://elasticsearch:9200

# disabling workspace services
ambassador:
  enabled: false
wts:
  externalSecrets:
    dbcreds: "chords_chords-wts-db-creds"
  enabled: false

{% else %}
  hostname: "localhost"
  dictionaryUrl: https://raw.githubusercontent.com/NIEHS/pcor_gen3_artifacts/develop/custom_configs/schema.json

{% endif %}
sower:
  enabled: false

hatchery:
  enabled: false

# disabling audit service
audit:
  enabled: false

# disabling argo-wrapper service
argo-wrapper:
  enabled: false

etl:
  image:
    tube:
      # -- (string) Overrides the image tag whose default is the chart appVersion.
      tag: "1.0.4"