{
  "tags": [
    {% for tag in discovery.tags %}
      {
        "name": "{{ tag.name }}",
        "category": "{{ tag.category }}"
      }{{ "," if not loop.last }}
    {% endfor %}
  ],
  "advSearchFilters": [
    {% for adv_search_filter in discovery.adv_search_filters %}
      {
        "key": "{{ adv_search_filter.key }}",
        "value": "{{ adv_search_filter.value }}"
      }{{ "," if not loop.last }}
    {% endfor %}
  ],
  "program_name": "{{ discovery.program_name }}",
  "program_type": "{{ discovery.program_type }}",
  "program_url": "{{ discovery.program_url }}",
  "project_type": "{{ discovery.project_type }}",
  "project_url": "{{ discovery.project_url }}",
  "project_description": "{{ discovery.project_description }}",
  "name": "{{ discovery.name }}",
  "short_name": "{{ discovery.short_name }}"
  "verification_datetime": "{{ discovery.verification_datetime }}",
  "payment_required": "{{ discovery.payment_required }}",
  "investigator_name": "{{ discovery.investigator_name }}",
  "investigator_affiliation": "{{ discovery.investigator_affiliation }}",
  "comment": "{{ discovery.intended_use }}",
  "short_name": "{{ discovery.short_name }}",
  "description": "{{ discovery.description }}",
  "support_source": "{{ discovery.source_name }}",
  "source_url": "{{ discovery.source_url }}",
  "citation": "{{ discovery.citation }}",
  "resource_id": "{{ discovery.resource_id }}",
  "resource_url": "{{ discovery.resource_url }}",
  "type": "{{ discovery.type }}",
  "domain": "{{ discovery.domain }}",
  "has_api": "{{ discovery.has_api }}",
  "has_visualization_tool": "{{ discovery.has_visualization_tool }}",
  "is_citizen_collected": "{{ discovery.is_citizen_collected }}",
  "license_type": "{{ discovery.license_type }}",
  "license_text": "{{ discovery.license_text }}",
  "resource_use_agreement": "{{ discovery.resource_use_agreement }}",
  "resource_contact": "{{ discovery.resource_contact }}"

}