{
  "type": "geospatial_tool_resource",
  "submitter_id": "{{ geo_tool_resource.submitter_id }}",
  "tool_type":  "{{ geo_tool_resource.tool_type }}",
  "intended_use": "{{ geo_tool_resource.intended_use }}",
  {% if geo_tool_resource.is_open %}
      "is_open": true,
  {% else %}
       "is_open": false,
  {% endif %}
  "languages":[ {% for entry in geo_tool_resource.languages %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %} ],
  "operating_system": [
    {% for entry in geo_tool_resource.operating_system %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "license_type":  "{{ geo_tool_resource.license_type }}",
  "suggested_audience": [
    {% for entry in geo_tool_resource.suggested_audience %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "resources": {
    "node_id": "{{ geo_tool_resource.resource_id }}",
    "submitter_id": "{{ geo_tool_resource.resource_submitter_id }}"
  }
}
