{
  "type": "geospatial_data_resource",
  "display_type": "GeoExposureData",
  "submitter_id": "{{ geo_spatial_data_resource.submitter_id }}",
  "comments": "{{ geo_spatial_data_resource.comments }}",
  "intended_use": "{{ geo_spatial_data_resource.intended_use }}",
  "source_name": [
    {% for entry in geo_spatial_data_resource.source_name %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "update_frequency": "{{ geo_spatial_data_resource.update_frequency }}",

  {% if geo_spatial_data_resource.includes_citizen_collected %}
      "includes_citizen_collected": true,
  {% else %}
       "includes_citizen_collected": false,
  {% endif %}

  {% if geo_spatial_data_resource.has_api %}
      "has_api": true,
  {% else %}
       "has_api": false,
  {% endif %}

  {% if geo_spatial_data_resource.has_visualization_tool %}
      "has_visualization_tool": true,
  {% else %}
       "has_visualization_tool": false,
  {% endif %}

  "measures":  [
    {% for entry in geo_spatial_data_resource.measures %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
    "measures_parent_category":  [
    {% for entry in geo_spatial_data_resource.measures_parent %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "measures_subcategory_major": [
    {% for entry in geo_spatial_data_resource.measures_subcategory_major %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "measures_subcategory_minor": [
    {% for entry in geo_spatial_data_resource.measures_subcategory_minor %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  {% if geo_spatial_data_resource.time_extent_start  %}
    "time_extent_start": "{{ geo_spatial_data_resource.time_extent_start }}",
  {% endif %}
  {% if geo_spatial_data_resource.time_extent_start_year %}
      "time_extent_start_year": {{ geo_spatial_data_resource.time_extent_start_year }},
  {% endif %}
  {% if geo_spatial_data_resource.time_extent_end %}
    "time_extent_end": "{{ geo_spatial_data_resource.time_extent_end }}",
  {% endif %}
  {% if geo_spatial_data_resource.time_extent_end_year %}
      "time_extent_end_year": {{ geo_spatial_data_resource.time_extent_end_year }},
  {% endif %}
  "time_available_comment": "{{ geo_spatial_data_resource.time_available_comment }}",
  "temporal_resolution": [
  {% for entry in geo_spatial_data_resource.temporal_resolution %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "spatial_resolution": "{{ geo_spatial_data_resource.spatial_resolution }}",
  "spatial_coverage": [
    {% for entry in geo_spatial_data_resource.spatial_coverage %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "spatial_coverage_specific_regions": [
    {% for entry in geo_spatial_data_resource.spatial_coverage_specific_regions %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "spatial_bounding_box": "{{ geo_spatial_data_resource.spatial_bounding_box }}",
  "geometry_type": [
    {% for entry in geo_spatial_data_resource.geometry_type %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "geometry_source": [
    {% for entry in geo_spatial_data_resource.geometry_source %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "model_methods":  [
    {% for entry in geo_spatial_data_resource.model_methods %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "exposure_media":  [
        {% for media in geo_spatial_data_resource.exposure_media  %}
            "{{ media }}"
          {{ "," if not loop.last }}
        {% endfor %}
  ],
  "geographic_feature": [
    {% for entry in geo_spatial_data_resource.geographic_feature %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "data_formats": [
    {% for entry in geo_spatial_data_resource.data_formats %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "data_location": [
    {% for entry in geo_spatial_data_resource.data_location %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
    "resources": {
        "node_id": "{{ geo_spatial_data_resource.resource_id }}",
        "submitter_id": "{{ geo_spatial_data_resource.resource_submitter_id }}"
    }
}