{
    "type": "geospatial_data_resource",
    "submitter_id": "{{ geo_spatial_data_resource.submitter_id }}",
    "observation": "{{ geo_spatial_data_resource.observation }}",
    "resource_link": "{{ geo_spatial_data_resource.resource_link }}",
    "spatial_coverage": "{{ geo_spatial_data_resource.spatial_coverage }}",
    "spatial_resolution": "{{ geo_spatial_data_resource.spatial_resolution }}",
    "resources": {
        "node_id": "{{ geo_spatial_data_resource.resource_id }}",
        "submitter_id": "{{ geo_spatial_data_resource.resource_submitter_id }}"
    }
}