{
  "type": "population_data_resource",
  "display_type": "PopulationData",
  "submitter_id": "{{ pop_data_resource.submitter_id }}",
  "comments": "{{ pop_data_resource.comments }}",
  "intended_use": "{{ pop_data_resource.intended_use }}",
  "source_name": [
    {% for entry in pop_data_resource.source_name %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "update_frequency": "{{ pop_data_resource.update_frequency }}",

  {% if pop_data_resource.includes_citizen_collected %}
      "includes_citizen_collected": true,
  {% else %}
       "includes_citizen_collected": false,
  {% endif %}

  {% if pop_data_resource.has_api %}
      "has_api": true,
  {% else %}
       "has_api": false,
  {% endif %}

  {% if pop_data_resource.has_visualization_tool %}
      "has_visualization_tool": true,
  {% else %}
       "has_visualization_tool": false,
  {% endif %}

  {% if not pop_data_resource.time_extent_start %}
      "time_extent_start": null,
  {% else %}
      "time_extent_start": "{{ pop_data_resource.time_extent_start }}",
  {% endif %}

   {% if not pop_data_resource.time_extent_end %}
      "time_extent_end": null,
  {% else %}
      "time_extent_end": "{{ pop_data_resource.time_extent_end }}",
  {% endif %}

  "time_available_comment": "{{ pop_data_resource.times_available_comment }}",
  "temporal_resolution": "{{ pop_data_resource.temporal_resolution }}",
  "spatial_coverage": "{{ pop_data_resource.spatial_coverage }}",
  "spatial_resolution": "{{ pop_data_resource.spatial_resolution }}",
  "spatial_coverage_specific_regions": [
    {% for entry in pop_data_resource.spatial_coverage_specific_regions %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "geometry_type": [
    {% for entry in pop_data_resource.geometry_type %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "geometry_source": [
    {% for entry in pop_data_resource.geometry_source %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "population_studied": [
    {% for pop_entry in pop_data_resource.population_studied %}
        "{{ pop_entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "population_studied_other": [
    {% for entry in pop_data_resource.population_studied %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "exposures":  [
        {% for exposure in pop_data_resource.exposures  %}
            "{{ exposure }}"
          {{ "," if not loop.last }}
        {% endfor %}
  ],
  "exposure_media":  [
        {% for media in pop_data_resource.exposure_media  %}
            "{{ media }}"
          {{ "," if not loop.last }}
        {% endfor %}
  ],
  "measures": [
        {% for measure in pop_data_resource.measures %}
            "{{ measure }}"
            {{ "," if not loop.last }}
        {% endfor %}
  ],
  "outcomes":  [
        {% for outcome in pop_data_resource.outcomes  %}
            "{{ outcome }}"
          {{ "," if not loop.last }}
        {% endfor %}
  ],
  "model_methods":  [
        {% for entry in pop_data_resource.model_methods  %}
            "{{ entry }}"
            {{ "," if not loop.last }}
        {% endfor %}
   ],
  "data_formats": [
    {% for entry in geo_spatial_data_resource.data_formats %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "data_location": [
    {% for entry in geo_spatial_data_resource.data_location %}
        "{{ entry }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "resources": {
    "node_id": "{{ pop_data_resource.resource_id }}",
    "submitter_id": "{{ pop_data_resource.resource_submitter_id }}"
  }
}