{
  "type": "program", 
  "name": "{{ program.name }}",
  "short_name": "{{ program.short_name }}",
  "program_type": "{{ program.program_type }}",
  "program_url": "{{ program.program_url }}",
  "dbgap_accession_number": "{{ program.dbgap_accession_number }}"
}