{
  "availability_mechanism": "{{ model.availability_mechanism }}",
  "type": "project",
  "dbgap_accession_number": "{{ model.dbgap_accession_number }}",
  "date_collected": "{{ model.date_collected }}",
  "code": "{{ model.project_code }}",
  "investigator_name": "{{ model.investigator_name }}",
  "complete": "{{ model.complete }}",
  "support_source": "{{ model.support_source }}",
  "availability_type": "{{ model.availability_type }}",
  "investigator_affiliation": "{{ model. investigator_affiliation }}",
  "name": "{{model.project_name}}",
  "support_id": "{{ model.support_id }}"
}