{
  "type": "resource",
  "submitter_id": "{{ resource.submitter_id }}",
  "resource_id": "{{ resource.resource_id }}",
  "name": "{{ resource.name }}",
  "long_name": "{{ resource.long_name }}",
  "resource_type": "{{ resource.resource_type }}",
  "resource_url": "{{ resource.resource_url }}",
  "description": "{{ resource.description }}",
  "domain": "{{ resource.domain }}",
  "keywords":  [
    {% for keyword in resource.keywords %}

        "{{ keyword }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "access_type": "{{ resource.access_type }}",
  "resource_reference": "{{ resource.resource_reference }}",
  "resource_use_agreement": "{{ resource.resource_use_agreement }}",
  "publications":  [
    {% for publication in resource.publications %}

        "{{ publication }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "is_static": {{ resource.is_static }},
  "projects": {
    "node_id": "{{ resource.project.id }}",
    "code": "{{ resource.project.dbgap_accession_number }}"
  }
}