{
"resource_contact": "{{ resource.contact }}",
  "resource_type": "{{ resource.resource_type }}",
  "type": "resource",
  "description": "{{ resource.description }}",
  "name": "{{ resource.name }}",
  "license_type": "{{ resource.license_type }}",
  "submitter_id": "{{ resource.submitter_id }}",
  "short_name": "{{ resource.short_name }}",
  "source_name": "{{ resource.source_name }}",
  "source_url": "{{ resource.source_url }}",
  "resource_id": "{{ resource.resource_id }}",
  "intended_use": "{{ resource.intended_use }}",
  "citation": "{{ resource.citation }}",
  "is_citizen_collected": {{ resource.is_citizen_collected }},
  "has_api": {{ resource.has_api }},
  "domain": "{{ resource.domain }}",
  "keywords":  [
    {% for keyword in resource.keywords %}

        "{{ keyword }}"
      {{ "," if not loop.last }}
    {% endfor %}
  ],
  "update_frequency": "{{ resource.update_frequency }}",
  "license_type": "{{ resource.license_type }}",
  "license_text": "{{ resource.license_text }}",
  "resource_use_agreement": {{ resource.use_agreement }},
  "resource_contact": "{{ resource.contact }}",
  "projects": {
    "node_id": "{{ resource.project.id }}",
    "code": "{{ resource.project.dbgap_accession_number }}"
  }
}